.main {
  padding: 3rem 1rem;
  /* background-color: gray; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categories {
  padding-left: 5rem;
}

.container img {
  width: 30vw;
  height: 50vh;
  object-fit: contain;
}

.products div {
  padding-left: 4rem;
}

.products a {
  text-decoration: none;
  color: #1d1f22;
  font-size: 1.2rem;
}

.name {
  font-weight: 300;
  margin-bottom: 0;
}
.price {
  margin-top: 0.1rem;
  font-weight: 500;
}

.category-name {
  padding-left: 7rem;
  text-transform: capitalize;
  cursor: pointer;
  padding-bottom: 3rem;
  font-weight: 400;
  font-size: 2rem;
}
.link {
  padding-right: 5pt;
}

.category-btn:hover {
  color: #5ece7b;
  text-decoration: underline;
}

.category-btn {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 120%;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  color: #1d1f22;
}

.active {
  color: #1d1f22;
}

.nav {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}

.random-icon {
  width: 2rem;
}

.currency-changer {
  color: #1d1f22;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-size: 160%;
  text-decoration: solid;
  font-weight: 500;
}

.arrow-down {
  width: 1rem;
}

.currency-container {
  position: relative;
  left: 60%;
  top: 0.5vh;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  left: calc(100% - 2.95rem);
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.display-block {
  display: block;
}

.currency-btn {
  border: none;
  background: none;
  width: 3.75rem;
}

.attribute-btn {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}

.product {
  display: flex;
  padding-top: 5rem;
  padding-left: 3rem;
}

.product-image {
  width: 45rem;
  height: 71vh;
  object-fit: scale-down;
}

.product-content {
  margin-left: 2rem;
  width: 35rem;
}

.image-container {
  width: 9rem;
}

.image-container img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: top;
  padding-left: 1rem;
  cursor: pointer;
}

.img-btn {
  background: none;
  border: none;
}

.cart-btn {
  text-transform: capitalize;
  border: none;
  color: white;
  background-color: #5ece7b;
  width: 19.5rem;
  height: 3rem;
  font-size: 120%;
  cursor: pointer;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color-container {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px black solid;
}

.other-att-container {
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border: 1px black solid;
  text-align: center;
}

.error {
  padding-top: 3rem;
  padding-left: 10rem;
}
