.link {
  padding-right: 5pt;
  text-decoration: none;
  color: gray;
}

.active {
  color: #1d3767;
}

.nav {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}

.currency-changer {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-size: 120%;
  text-decoration: solid;
}

.currency-container {
  position: relative;
  left: 60%;
  top: 0.5vh;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  left: calc(100% - 2.37rem);
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.display-block {
  display: block;
}

.currency-btn {
  border: none;
  background: none;
}

.currency-btn li {
  display: inline;
}
