.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categories {
  padding-left: 5rem;
}

.container img {
  max-width: 30vw;
  height: 100vh;
}

.category-name {
  padding-left: 2.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
.link {
  padding-right: 5pt;
}

.category-btn:hover {
  color: #5ece7b;
  text-decoration: underline;
}

.category-btn {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 120%;
  text-transform: capitalize;
  cursor: pointer;
}

.active {
  color: #1d1f22;
}

.nav {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}

.currency-changer {
  color: #1d1f22;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-size: 120%;
  text-decoration: solid;
}

.currency-container {
  position: relative;
  left: 60%;
  top: 0.5vh;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  left: calc(100% - 2.37rem);
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.display-block {
  display: block;
}

.currency-btn {
  border: none;
  background: none;
}

.attribute-btn {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}

.product {
  display: flex;
  padding-top: 5rem;
  padding-left: 3rem;
}

.product-image {
  width: 50rem;
}

.product-content {
  margin-left: 2rem;
}

.image-container {
  width: 7rem;
}

.image-container img {
  width: 5rem;
  padding-left: 1rem;
  cursor: pointer;
}

.img-btn {
  background: none;
  border: none;
}
